<p id="notice"><%= notice %></p>

<p>
  <b>Reason for change:</b>
  <%= @diaper.result %>
</p>

<p>
  <b>Note:</b>
  <%= @diaper.note %>
</p>

<p>
  <b>Diaper change time:</b>
  <%= @diaper.diaper_change_time %>
</p>


<%= link_to 'Edit', edit_diaper_path(@diaper) %> |
<%= link_to 'Back', diapers_path %>
